<div class="articledetail" *ngIf="blog">
    <h2>文章明细</h2>
    <div class="content">
        <div class="row">
            <span>ID</span>
            <span>{{blog.id}}</span>
        </div>
    </div>
    <div class="row">
        <span>Title</span>        
        <input type="text" class="myInput" [(ngModel)]="blog.title"/>       
    </div>
    <div class="row">
        <button class="btn" (click)="back()">返回列表</button>
        <button class="btn" (click)="doComment()">评论</button>
    </div>
</div>
<router-outlet></router-outlet>